<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8CBE47">
    <title>Volunteer homepage</title>
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/volunteer-style.css">
    <link rel="stylesheet" href="../stylesheets/volunteer-events-style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="../javascripts/components/navbar-user.js" defer></script>
    <script src="../javascripts/components/volunteers/my-events-card.js" defer></script>
    <script src="../javascripts/components/volunteers/rsvp-card.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div id="app">
        <navbar-user user-type="volunteers"></navbar-user>
        <main>
            <h1>Here's your events</h1>
            <div class="dashboard-list">
                <div class="events-dashboard">
                    <div class="upcoming-events-title">
                        <h2>Confirmed events</h2>
                        <a href="/volunteers/events.html">View All →</a>
                    </div>
                    <div class="innerdiv">
                        <my-events-card
                            v-for="event in rsvpEvents"
                            :key="event.event_id"
                            :event-id="event.event_id"
                            :volunteer-id="event.volunteer_id"
                            :event-name="event.event_type"
                            :event-date="formatDate(event.date)"
                            :event-description="event.content"
                            @event-resigned="handleEventResigned"
                        ></my-events-card>
                    </div>
                </div>
                <div class="updates-dashboard">
                    <div class="upcoming-events-title">
                        <h2>RSVP Upcoming Events</h2>
                        <a href="/volunteers/updates.html">View All →</a>
                    </div>
                    <div class="innerdiv">
                        <rsvp-card
                            v-for="event in events"
                            :key="event.event_id"
                            :event-id="event.event_id"
                            :volunteer-id="event.volunteer_id"
                            :event-name="event.event_type"
                            :event-date="formatDate(event.date)"
                            :event-description="event.content"
                        ></rsvp-card>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script>
        window.onload = function () {
          new Vue({
            el: '#app',
            data: {
              userName: '', // To store user's name
              userVolunteerId: 1, // Example volunteer ID; this should be dynamically set based on the logged-in user
              events: [],
              rsvpEvents: [],
              updates: []
            },
            mounted() {
              this.fetchEvents();
              this.fetchRSVPEvents();
            },
            methods: {
              fetchEvents() {
                    fetch('/volunteers/available-events')
                    .then(response => {
                        if (!response.ok) {
                        throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        this.events = data;
                    })
                    .catch(error => {
                        console.error('Error fetching events:', error);
                    });
                },
                fetchRSVPEvents() {
                    fetch(`/volunteers/rsvp-events`)
                    .then(response => {
                        if (!response.ok) {
                        throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        this.rsvpEvents = data;
                    })
                    .catch(error => {
                        console.error('Error fetching RSVP events:', error);
                    });
                },
                formatDate(dateString) {
                    const options = { year: 'numeric', month: 'long', day: 'numeric'};
                    return new Date(dateString).toLocaleDateString(undefined, options);
                },
                handleEventResigned(eventId) {
                    const index = this.rsvpEvents.findIndex(event => event.event_id === eventId);
                    if (index !== -1) {
                        const event = this.rsvpEvents.splice(index, 1)[0];
                        this.events.push(event);
                    }
                }
            }
          });
        }
    </script>
</body>
</html>
