<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#8CBE47">
  <title>Volunteer updates</title>
  <link rel="icon" type="image/x-icon" href="../assets/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/volunteer-style.css">
  <link rel="stylesheet" href="/stylesheets/volunteer-updates-style.css">
  <script src="https://kit.fontawesome.com/62cb943082.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="/javascripts/components/volunteers/navbar-volunteer.js" defer></script>
  <script src="../javascripts/components/volunteers/update-card.js"></script>
</head>
<body>
  <div id="app">
    <navbar-volunteer></navbar-volunteer>
    <main>
      <h1>Here's your latest updates</h1>
      <div class="announcement-management">
        <select v-model="filterOption" class="announcement-filter">
            <option value="all">All updates</option>
            <option value="public">Public</option>
            <option value="private">Private</option>
        </select>
        <input type="search" class="announcement-search" placeholder="Search..." v-model="searchQuery" />
      </div>
      <div>
        <event-update-card
          v-for="update in filteredUpdates"
          :key="update.update_id"
          :title="update.update_title"
          :content="update.content"
        ></event-update-card>
      </div>
    </main>
  </div>

  <script defer>
    new Vue({
        el: '#app',
        data: {
            updates: [],
            searchQuery: '',
            sortOption: 'newest', // Default to sort by newest
            filterOption: 'all' // Default to show all updates
        },
        computed: {
            sortedUpdates() {
              let filtered = this.updates;
              if (this.filterOption === 'public') {
                  filtered = filtered.filter(update => update.is_public === 1);
              } else if (this.filterOption === 'private') {
                  filtered = filtered.filter(update => update.is_public === 0);
              }

              if (this.sortOption === 'newest') {
                  return filtered.slice().sort((a, b) => new Date(b.eventDate) - new Date(a.eventDate));
              } else if (this.sortOption === 'oldest') {
                  return filtered.slice().sort((a, b) => new Date(a.eventDate) - new Date(b.eventDate));
              }
            },
            filteredUpdates() {
              return this.sortedUpdates.filter(update => {
                  return update.update_title.toLowerCase().includes(this.searchQuery.toLowerCase());
              });
            }
        },
        methods: {
          fetchEventUpdates() {
            const xhr = new XMLHttpRequest();
            xhr.open('GET', '/volunteers/event-updates', true);

            xhr.onreadystatechange = () => {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        try {
                            const data = JSON.parse(xhr.responseText);
                            console.log('Response JSON:', data);
                            this.updates = data;
                        } catch (error) {
                            console.error('Error parsing JSON response', error);
                        }
                    } else {
                        console.error('Error fetching updates. Status:', xhr.status);
                    }
                }
            };

            xhr.send();
          }
        },
        created() {
            this.fetchEventUpdates();
        }
    });


  </script>

</body>
</html>
