body {
    background-color: #F5EFE6;
    font-family: "Quicksand", sans-serif;
    margin: 0;
}

/* Navbar CSS */

header {
    background-color: #8CBE47;
    display: flex;
    height: 84px;
    z-index: 1;
}

header ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 60px;
}

header ul li a {
    display: block;
    color: #121808;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 15px;
}

header .section {
    display: flex;
    align-items: center;
    gap: 40px;
}

header ul li a:hover {
    background-color: #9FDB97;
    border-radius: 15px;
}

header .logo-image {
    height: 100%;
}

.sign-up {
    a {
        color: #4F6F52;
        background-color: #E8DFCA;
    }

    :hover {
        background-color: #ffdb81;
    }
}

.dropdown {
    position: relative;
}

.dropdown-toggle {
    font-family: inherit;
    font-size: inherit;
    background-color: #E8DFCA;
    border: none;
    border-radius: 15px;
    padding: 14px 16px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.dropdown-toggle:hover {
    background-color: #ffdb81;
}

.dropdown-content {
    display: none;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    width: max-content;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #4F6F52;
}

.dropdown-content a:hover {
    background-color: #ffdb81;
    border-radius: 15px;
}

.dropdown.show .dropdown-content {
    display: block;
}


footer {
    margin-top: 80px;
    background-color: #8CBE47;
    color: #000000;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1 1 200px;
    margin: 20px;
}

.footer-section h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-section p,
.footer-section ul,
.footer-section a {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #292929;
    text-decoration: none;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section a:hover {
    color: #8CBE47;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    color: #E8DFCA;
    margin: 0 10px;
    font-size: 1.5em;
}

.social-icons a:hover {
    color: #ffdb81;
}

.footer-bottom {
    background-color: rgb(130, 182, 123);
    color: #000000;
    padding: 10px 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}