/* login-style.css */

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-section {
  background-color: #fff;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 4%;
  padding-bottom: 4%;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-section h1 {
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="email"],
input[type="password"] {
  width: 100%; /* Change width to 100% to make the input fields wider */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button.login-button {
  background-color: #8CBE47;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

button.login-button:hover {
  background-color: #77a942;
}

.warning-message {
  color: red;
  margin-top: 10px;
}

.alternative-login {
  margin-top: 20px;
  text-align: center;
}

.g_id_signin {
  margin-top: 10px;
}
