#nav-homepage {
    font-weight: bold;
}

main {
    padding-left: 60px;
    padding-right: 60px;
}

.page-heading {
    font-size: x-large;
    font-weight: bold;
    color: #8CBE47;
}

.events-dashboard {
    width: 480px;
    height: 600px;
    border-radius: 15px;
    background-color: #9FDB97;
    opacity: 50%;
}

.events-dashboard h2 {
    padding-top: 15px;
    padding-left: 50px;
}

.updates-dashboard {
    width: 700px;
    height: 600px;
    margin-left: auto;
    float: right;
    border-radius: 15px;
    background-color: #70CD81;
    opacity: 50%;
}

.grid-container {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    /* Increase gap to prevent overlaying */
}

.graph-item {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 10ch;
    border-radius: 12px;
    font-weight: 600;
    font-size: larger;
}

.grid-item-1 {
    width: 100%;
}

.graph-1 {
    background-color: #82C86C;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    /* Add padding to create space inside the graph */
    box-sizing: border-box;
    /* Include padding in the element's total width and height */
}

.graph-1-bar {
    background-color: #FCEFC3;
    margin: 0 auto;
    width: 80%;
    height: 30px;
}

.graph-1-bar-1 {
    background-color: #34623C;
    width: 80%;
    height: 100%;
}

.graph-1-text{
    display: flex;
    gap: 20px;
}

.graph-2 {
    margin-top: 3vw;
    display: flex;
    flex-direction: column;
}

.graph-3 {
    padding: 40px;
    background-color: #E4FF97;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.graph-3-description {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.graph-3-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.pie-chart-container {
    /* Center the container horizontally */
    width: 100%;
    display: flex;
    justify-content: center;
}

.pie-chart {
    display: flex;
    justify-content: center;
    width: 80%;
}

.chart-container {
    display: flex;
    padding: 40px 0px;
    justify-content: center;
    align-items: center;
}

.chart {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: conic-gradient(#2ecc71 0% calc(var(--percentage) * 100%), #fff calc(var(--percentage) * 100%) 100%);
}

.chart::before {
    content: '';
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: #f7ffb3;
}

.chart::after {
    content: attr(data-people) ' people';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
    font-family: inherit;
    font-weight: bold;
    text-align: center;
    color: #333;
}

.chart-title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1em;
    color: #333;
}

.graph-2 {
    background-color: #FCEFC3;
    padding: 20px;
}