#nav-updates {
    font-weight: bold;
}

main {
    padding: 40px 80px;
}

main h1 {
    color: #8CBE47;
}

.announcement-first-line {
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    font-size: large;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    gap: 10vw;
}

.announcement-card {
    padding: 20px 0px 0px 0px;
}

.announcement-second-line {
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    gap: 10vw;
}

.announcement-management {
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.announcement-filter,
.announcement-sort {
    flex: 2;
    /* Each button takes 2/10 (20%) of the available space */
    background-color: transparent;
    border-color: black;
    border-width: 2px;
    padding: 8px 16px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
}

.announcement-management input[type="search"] {
    flex: 6;
    /* The input takes 6/10 (60%) of the available space */
    padding: 5px;
    padding-inline: 20px;
    /* Optional: Add some padding to the input */
}

.announcement-title {
    text-decoration: none;
    color: black;
}

.announcement-title:hover {
    text-decoration: underline;
}

.announcement-search {
    background-color: transparent;
    border-color: black;
    border-width: 2px;
    padding: 8px 16px;
    border-radius: 15px;
    font-size: inherit;
    font-family: inherit;
}

.add-new-updates {
    background-color: #3c8e40;
    color: white;
    cursor: pointer;
    margin-left: auto;
    margin-right: 10px;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    font-size: medium;
}

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Form styles */
form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 30%;
}

textarea#update-content {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical; /* Allow vertical resizing */
    font-family: inherit; /* Inherit font styles from parent */
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: medium;
}

.styled-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M6 9l6 6 6-6"/></svg>') no-repeat right 10px center;
    background-color: white;
    padding-right: 30px;
    font-family: inherit;
}

.delete-button {
    background-color: #ff4c4c;
    border: none;
    margin-top: 12px;
    padding: 0 16px ;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
    width: max-content;
    height: 42px;
    transition: all 0.1s ease-in-out;
    margin-right: 10px;
    font-family: inherit;
    font-size: medium;
  }

  .delete-button:hover {
    background: #ff1c1c;
    transform: translate(0px, -5px);
  }