#nav-events {
    font-weight: bold;
}

.events-modifier {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.events-modifier select,
.events-modifier input,
.events-modifier .add-new-events {
    margin-right: 10px;
    padding: 7px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: medium;
}

.events-modifier select {
    width: 20%;
}

.events-modifier input {
    width: 35%;
}

.events-modifier .add-new-events {
    background-color: #3c8e40;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: auto;
}

/* event list */
.event-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.event-card {
    display: flex;
    background-color: rgba(159, 219, 151, 0.6);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 80vw;
    max-height: 15vw;
    width: 100%;
}

.event-image {
    width: 20%;
    object-fit: cover;
    margin: 2%;
}

.event-content {
    padding: 20px;
    width: 100%;
    color: #000;
}

.event-content h2 {
    margin-top: 0;
}

.event-content p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.read-more-button {
    margin-top: 12px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
    width: max-content;
    transition: all 0.1s ease-in-out;
}

.read-more-button:hover {
    transform: translate(0px, -5px);
}

.load-button {
    text-decoration: none;
    color: black;
}

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
}

form div {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 30%;
}

textarea#event-content {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical; /* Allow vertical resizing */
    font-family: inherit; /* Inherit font styles from parent */
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
}

button[type="submit"]:hover {
    background-color: #45a049;
}