body {
    background-color: #F5EFE6;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

header {
    background-color: #8CBE47;
    margin: 0;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 1000;
    padding: 0px 0;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

header ul {
    list-style-type: none;
    padding: 0;
    margin-top: 25px;
}

header ul li {
    float: left;
    position: relative;
    padding: 0 10px;
}

header ul li a {
    display: block;
    color: #121808;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 15px;
    font-size: large;
}

header ul li a:hover {
    background-color: #9FDB97;
    border-radius: 15px;
}

main {
    padding-top: 150px;
    padding-left: 250px;
    padding-right: 250px;

}

header .logo-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header .logo {
    display: block;
    float: left;
    text-decoration: none;
    height: 100px;
    padding-right: 20px;
}



footer {
    top: 1000px;
    background-color: #1A4D2E;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: relative;
    height: 100px;
    width: 105%;
    z-index: 1000;
    padding: 20px 0;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.sign-up {
    margin-right: 0px;
    float: right;

    a {
        color: #4F6F52 !important;
        background-color: #E8DFCA;
        border-radius: 15px;
    }

    :hover {
        background-color: #ffdb81;
    }
}

.dropdown {
    margin-right: 10px;
    float: right;
    position: relative;
    font-family: "Quicksand", sans-serif;
}

.dropdown-toggle {
    background-color: #E8DFCA;
    color: #4F6F52;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: large;
    font-family: "Quicksand", sans-serif;
    padding: 14px 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #4F6F52;
}

.dropdown-content a:hover {
    background-color: #ffdb81;
    border-radius: 15px;
}

.dropdown.show .dropdown-content {
    display: block;
}

.events-dashboard {
    width: 480px;
    height: 600px;
    border-radius: 15px;
    background-color: #9FDB97;
    opacity: 50%;
}

.events-dashboard h2 {
    padding-top: 15px;
    padding-left: 50px;
}

.updates-dashboard {
    width: 700px;
    height: 600px;
    margin-left: auto;
    float: right;
    border-radius: 15px;
    background-color: #70CD81;
    opacity: 50%;
}
