
.h1 {
  color: #8CBE47;
}

.events-dashboard {
  width: 480px;
  height: 1000px;
  border-radius: 15px;
  background-color: #9FDB97;
  opacity: 50%;
}

.events-dashboard h2 {
  padding-left: 40px;
  padding-top: 35px;
  display: inline-block;
  margin:0;
  margin-right: 42px;
}

.events-dashboard button #view-all{
  margin:0;
  padding-right: 55px;
  padding-top: 47px;
  vertical-align:top;
  border: none;
  border-radius: 15px;
  background-color: #9FDB97;
  display: inline-flex;
}


.events-dashboard div h2 {
  opacity: 100
}

.updates-dashboard {
  width: 700px;
  height: auto;
  margin-left: auto;
  float: right;
  border-radius: 15px;
  background-color: #70CD81;
  opacity: 50%;
}

.updates-dashboard h2 {
  padding-left: 40px;
  padding-top: 35px;
  display: inline-block;
  margin:0;
  margin-right: 42px;
  opacity: 100;
}

.updates-dashboard button #view-all{
  margin:0;
  padding-right: 55px;
  padding-top: 47px;
  vertical-align:top;
  float: right;
  border: none;
  border-radius: 15px;
  background-color: #70CD81;
}

.event-title {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  white-space: nowrap;
  display: inline;
}

.date {
  color: #000;
  font-size: 16px;
  font-weight: 300;
  position: relative;
  white-space: nowrap;
  display: inline;
  float: right;
}

.textContainer {
  padding-top: 15px;
  position: relative;
}

.textBlock {
  color: #000;
  font-size: 12px;
  font-weight: 300;
}

.innerdiv {
  width: 80%;
  height: auto;
  border-radius: 15px;
  margin: 40px auto;
  position: relative;
  padding: 20px; /* Adjust padding as needed */
}








.announcements-container {
  display: flex;
  justify-content: space-between;
}

.announcement {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

.announcement-sub {
  font-size: 15px;
  text-align: left;
}

.announcement-date {
  font-size: 15px;
  text-align: right;
}

.announcement-event {
  font-size: 20px;
  font-weight: 600;
  text-align: right;
  flex-shrink: 0;
  margin-left: 20px;
}






.button {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

hr {
  border: 1px solid black;
  color: black;
  margin-bottom: 25px
}

.resign, .learn-more, .yes, .no {
  cursor: pointer;
  font-size: 14px;
  color: black;
  border-radius: 8px;
  border: 1px;
  padding: 6px 15px;
}

.resign {
  background-color: #8CBE47;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.3);
}

.learn-more {
  background-color: #9FDB97;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.3);
}

.yes, .no {
  cursor: pointer;
  font-size: 14px;
  color: black;
  border-radius: 8px;
  border: 1px;
  padding: 1px 40px;
}
