main {
    padding: 40px 80px;
}

main h1 {
    color: #8CBE47;
    font-size: xx-large;
}

.dashboard-list {
    display: flex;
    gap: 20px;
}

.events-dashboard {
    background-color: #C1E7BB;
    flex-basis: 40%;
    padding: 40px;
    border-radius: 40px;
}

.upcoming-events-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.upcoming-events-title h2 {
    margin: 0px 0px;
}

.upcoming-events-title button {
    border: none;
    font-size: inherit;
    font-family: inherit;
    text-decoration: underline;
    background-color: transparent;
}

.updates-dashboard {
    background-color: #A5DFAD;
    flex-basis: 60%;
    padding: 40px;
    border-radius: 40px;
}

.event-first-line {
    display: flex;
    justify-content: space-between;
    font-weight: 800;
}